body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

nav {
    display: flex;

}

.product-detail {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.product-image {
    display: flex;
    gap: 10px;
}

.pizza-image {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pizza-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.main-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.product-info {
    max-width: 400px;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.colors .color-options {
    display: flex;
    gap: 10px;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.color.red {background-color: rgb(218, 79, 79);}
.color.black {background-color: rgb(69, 68, 68);}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .discount {
    color: #fff;
    background-color: red;
    padding: 10px;
    margin-top: 0.5rem;
    box-sizing: content-box;
    padding-left: 10px;
} */



footer {
    background: #000;
    color: #fff;
    padding: 10px;
    bottom: 0;
    justify-content: center; 
}
.footer-content {
    display: inline;
    margin: 0 auto;

}

